<html>
	<head th:replace="~{base :: head}"></head>
	
	<body>
		<div th:replace="~{base :: topo}"></div>
			
		<div class="container">
			<div class="col-10 col-sm-8 col-xl-4 rounded mx-auto d-block">
				<div th:replace="~{base :: titulo('Login')}"></div>
			</div>
			
			<div class="card mt-3 col-10 col-sm-8 col-xl-4 rounded mx-auto d-block">

				<form th:action="@{/login}" class="card-body" method="post">
					<div class="form-group mb-3">
						<label for="username">Usuário</label>
						<input class="form-control" name="username" placeholder="nome do usuáro" />
						<small>Informe o nome do usuário.</small>
					</div>
					<div class="form-group mb-3">
						<label for="password">Senha</label>
						<input class="form-control" type="password" name="password" placeholder="senha" />
						<small>Informe a senha do usuário.</small>
					</div>
					<div class="d-flex justify-content-between"> 
						<button class="btn btn-outline-primary" type="submit">Entrar</button>
					</div>
				</form>
			</div>
		</div>
	
	</body>
	
</html>